// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark-blue: #023047;
$light-blue: #219EBC;
$lighter-blue: #8ECAE6;
$yellow: #FFB703;
$orange: #FB8500;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


