<div class="banner">
  <div id="title">
    <span id="banner-typed-text"></span>
  </div>
  <a href="#" class="btn-yellow">Cocktails!</a>
</div>
<div class="container">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
    <% end %>
  </ul>
  <h3><%= link_to "Add a new cocktail", new_cocktail_path %></h3>
</div>