<div class="container">
  <div class="banner">
    <div id="title">
      <h1>Welcome to Keum's cocktails</h1>
      <a href="#" class="btn-yellow">Button</a>
    </div>
  </div>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
    <% end %>
  </ul>
  <h3><%= link_to "Add a new cocktail", new_cocktail_path %></h3>
</div>