<div class="container">
  <h1>Create a new cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back to homepage", cocktails_path %>
</div>